*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide1 {
    max-width: 1250px;
    margin: auto;
}

.wide2 {
    max-width: 900px;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 200px;
}

body {
    min-width: 900px;
}

body>header {   /*Header*/
    background-color: white;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
}

header>nav {
    padding: 2rem;
}

nav>img {
    width: 100px;
}

nav>a {
    text-decoration: none;
    outline: none;
    color: black;
    padding: 0 1rem;
}

button.blue {
    padding: 0.5rem 1rem;
    background: #0061ff;
    color: white;
    border: 0px;
}

main>header {   /*Main ed inizio header main*/ 
    background: #b4d0e7;
    height: 700px;
}

header>div {   
    justify-content: center;
}

header#jumbotron h1 {
    font-size: 5rem;
    font-weight: bolder;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

header#jumbotron p {
    margin-bottom: 2rem;
}

header#jumbotron button {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

#jumbo {
    width: 900px;
}

section.tabs {  /*Section billing*/
    justify-content: space-between;
}

section#billing h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

section#billing input,
section#billing label {
    margin-bottom: 2rem;
    padding-right: 2rem;
}

section#billing section.flex {
    justify-content: space-between;
}

div.columns {
    border: 1px solid black;
    width: calc(100% / 3 - 2rem);
    height: 800px;
    padding: 1rem;
}

section#team {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

section>img {
    width: 60%;
}

section#operations>div.flex {
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px;
}

div.cards {
    width: 300px;
}

div.cards img {
    width: 100%;
}

section div.squares {
    background: red;
}

div.squares div.square {
    background: violet;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

div#clients-footer {
    background: #b4d0e7;
    padding: 100px;
}

div#clients-footer>div.flex {
    justify-content: space-between;
}

footer {    /*Footer*/
    background-color: black;
    color: white;
}

footer nav {
    justify-content: space-between;
    padding: 4rem 0;
}

ul:before{
    content:attr(aria-label);
    font-weight:bold;
    padding-bottom: 1rem;
}

nav li{
    list-style-type: none;
    padding: 0.5rem 0;
    font-size: 0.7rem;
}
